/* .container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 40px 40px 40px;
    grid-gap: 5px;
}

.container .item {
    background-color: skyblue;
    font-size: 20px;
    text-align: center;
}

.container {
    background-color:red;
    width: 310px;
} */

.container {
    display: grid;
    grid-template-rows: 40px 40px; 
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.container .item {
    background-color: skyblue;
    font-size: 20px;
    text-align: center;
}

.container {
    background-color:red;
    width: 420px;
} 