
/* common styles */
#menu {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row; /* default is row in flex */
    justify-content: space-around;

}

#covid-help {
    background-color: blue;
    color: white;

}

#current-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#learn-more {
    display: flex;
}

#promo-image {
    background-image: url("../images/iphone.png");
}
/*
##Device = Most of the smartphone mobiles (portrait)
##screen = b/w 320px to 479px (breakpoint)

## when flex-box is row justify-content moves horizontally, align-items moves it vertically
## when flex-bow is col justify-conent movies vertically, align-items movies it horizontally
*/

@media (min-width: 1281) {

    body {
        background-color: red;
    }

    #menu {
        background-color: orange;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    #menu {
        flex-direction: column;
        align-items: center;
    }

    body {
        background-color: green;
    }

    #covid-help {
        display: none;
    }
}
